.app {
    background-color: aquamarine;
}

.Poster {
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    width: 162px;
    height: 200px;
    margin: 18px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-style: italic;
}

.movie {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
}

.details {
    margin-left: 18px;
    padding-bottom: 12px;
}


ul {
    list-style-type: square;
    font-family: cursive !important;
}

#form {
    height: fit-content;
}


.w-auto {
    font-size: 15px;
}